/* src/components/LoginForm.css */
.login-container {
  height: 100vh;
  
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
}

.login-form {
  background: white;
  padding: 50px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
}


.login-form h2 {
  text-align: center;
  margin-bottom: 20px;
} 

.input-group {
  margin-bottom: 15px;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
}

.input-group input {
  background-color: #FFF;
  color: #000;
  width: 100%;
  padding: 8px;
  border: 1px solid #cfcdcd;
  border-radius: 4px;
  box-sizing: border-box;
  box-shadow: 0 6px 9px rgba(0,0,0,0.1) ;
}

.button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 5px;
}

.back-button {
  background-color: #8a8a8a;
  color: rgb(2, 2, 2);
}

.button:hover {
  background-color: #0056b3;

}

.back-button:hover {
  background-color: #505050;
}

.error {
  color: red;
  text-align: center;
  margin-bottom: 10px;
}

.signup {
  color: #0056b3;
  padding: 5px;
}


label {
  font-weight: bold;
  font-size: 14px;
  color: #333;

}

.h2-login {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}